.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #e9ecef;
  border-radius: .3rem;
}

.container {
  font-family: 'Indie Flower', cursive;
  background-color: rgb(153, 153, 209);
  height: 550px;
}

